$gunmetal: #2D3142; // Gunmetal
$silver: #BFC0C0; // Silver
$coral: #EF8354; // Coral
$coral-hover: #C65D3D; // Coral hover
$paynes-gray: #4F5D75; // Paynes Gray
$white: #fff; // White
$black: #000; // Black
$overlay-color: rgba(0, 0, 0, 0.3); // Semi-transparent overlay
